{% extends 'home/base.html' %}

{% block title %}首页{% endblock %}
{% block main %}

<div class="row">
    {% for video in videos %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="{{ url_for('home.detail', video_id = video.video_id) }}"><img class="img-rounded" width="300" height="100" src="{{ url_for('static', filename = 'posters/'+video.video_poster.img_url) }}"/></a>
            <div class="caption">
                <h3>{{ video.video_title }}</h3>
                <p>简介:{{ video.video_comment }}</p>
                作者:{{ video.video_author.user_name }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}