{% extends 'home/my_base.html' %}

{% block title %}创建收藏夹{% endblock %}

{% block head %}{% endblock %}

{% block my_main %}
    <form action="" method="post">
        <h3 class="page-title" style="text-align:center">创建收藏夹</h3>
        <div class="form-container" style="width:500px;margin:0 auto;text-align:right;">
            <div class="form-group">
                <input type="text" placeholder="请输入收藏夹名称" name="star_name" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">提交</button>
            </div>
        </div>
    </form>
{% endblock %}

