{% extends 'home/my_base.html' %}

{% block title %}发布视频{% endblock %}

{% block head %}{% endblock %}

{% block my_main %}
    <form action="" method="post" enctype="multipart/form-data">
        <h3 class="page-title" style="text-align:center">发布视频</h3>
        <div class="form-container" style="width:500px;margin:0 auto;text-align:right;">
            <div class="form-group">
                <input type="text" placeholder="请输入标题" name="video_title" class="form-control">
            </div>
            <div class="form-group">
                <textarea name="video_comment" rows="6" class="form-control" placeholder="请输入简介"></textarea>
            </div>
            <div class="form-group">
                <p style="text-align:left">选择视频文件:</p>
                <input type="file" name="video_file" accept="video/*"/>
            </div>
            <div class="form-group">
                <p style="text-align:left">选择视频封面:</p>
                <input type="file" name="video_poster" accept="image/*"/>
            </div>
            
            <div class="form-group">
                <button class="btn btn-primary">提交</button>
            </div>
        </div>
    </form>
{% endblock %}

