{% extends 'home/base.html' %}

{% block title %}播放视频{% endblock %}

{% block head %}{% endblock %}

{% block main %}
<h3 class="page-title" style="text-align:center">{{ video.video_title }}</h3>
<p class="question-info" style="text-align:center;margin-top:20px;">
    <span>
        作者:<a href="{{ url_for('home.other_homepage', other_user_id = video.video_author.user_id) }}">{{
            video.video_author.user_name }}</a>
    </span>
    <span>时间:{{ video.video_ctime }}</span>
</p>
<hr>
<p>简介:</p>
<p class="question-content">{{ video.video_comment }}</p>
<hr>
<p align="center">
    <video width="800" height="600" controls="controls" style="margin:0 auto;">
        <source src="{{ url_for('home.uploaded_file', file_name = video.video_url) }}" type="video/mp4" />
    </video>
</p>


<h4>点赞:</h4>
<div style="text-align:right;">
    <a href="{{ url_for('home.like_video', video_id = video.video_id) }}">
        <button type="button" class="btn btn-primary">点赞</button>
    </a>
</div>



<form action="{{ url_for('home.star_video') }}" method="post">
    <div class="form-group">
        <h4>选择收藏夹:</h4>
        <select name="star_id" class="selectpicker show-tick form-control">
            {% for star in stars %}
            <option value="{{star.star_id}}"> {{star.star_name}} </option>
            {% endfor %}
        </select>
        <input type="hidden" name="video_id" value="{{ video.video_id }}">
    </div>
    <div class="form-group" style="text-align:right;">
        <button class="btn btn-primary">收藏</button>
    </div>
</form>

<h4>评论:</h4>
<form action="{{ url_for('home.add_review') }}" method="post">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="请填写评论" name="review_text">
        <input type="hidden" name="video_id" value="{{ video.video_id }}">
    </div>
    <div class="form-group" style="text-align:right;">
        <button class="btn btn-primary">评论</button>
    </div>
</form>
<ul class="answer-list" style="padding-left:0;">
    {% for review in video.video_reviews %}
    <li style="list-style:none;border-bottom:1px solid #eee;padding-top:10px;">
        <div class="user-info" style="font-size:16px;color:#9b9b9b;line-height:40px;">
            <img src="{{ url_for('static',filename='images/img2.jpg') }}" alt="" class="avatar"
                style="width:40px;height:40px;border-radius:50%;">
            <span class="username" style="margin-left:10px;">{{ review.review_author.user_name }}</span>
            <span class="create-time" style="float:right;">{{ review.review_time }}</span>
        </div>
        <p class="answer-content" style="margin-left:50px;">{{ review.review_text }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}