{% extends "admin/base.html" %}
{% block main %}
<table class="table table-striped">
    <caption>用户账号信息</caption>
    <thead>
        <tr>
            <th>用户id</th>
            <th>用户名称</th>
            <th>账号</th>
            <th>密码</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
        <tr>
            <form action="" method="POST">
                <td>{{ user.user_id }}</td>
                <input type="hidden" value="{{ user.user_id }}" name="user_id">
                <td><input type="text" class="form-control" value="{{ user.user_name }}" name="user_name"></td>
                <td>{{ user.user_account }}</td>
                <td><input type="text" class="form-control" value="{{ user.user_pass }}" name="user_pass"></td>
                <td><button type="submit" class="btn btn-default">修改</button></td>
            </form>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}