{% extends "admin/base.html" %}
{% block main %}
<table class="table table-striped">
    <caption>视频信息</caption>
    <thead>
        <tr>
            <th>图片id</th>
            <th>图片文件名称</th>
            <th>图片关联的视频id</th>
        </tr>
    </thead>
    <tbody>
        {% for img in img_list %}
        <tr>
            <td>{{ img.img_id }}</td>
            <td>{{ img.img_url }}</td>
            <td>{{ img.img_video[0].video_id }}</td>
            <!-- img是video的child, img会在video被删的时候一起删除, 因此这里不提供删除img的选项 -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}