{% extends 'base.html' %}

{% block title %}收藏夹{% endblock %}

{% block main %}

<ul style="list-style:none;padding-left:0;">
    {% for video in video_list %}
    <li style="border-bottom:1px solid #eee;overflow:hidden;padding:10px 0;">
        <div clas="avatar-group" style="width:38px;height:100%;float:left;">
            <img src="{{ url_for('static',filename='images/img2.jpg') }}" alt="" class="avatar"
                style="width:38px;height:38px;border-radius:50%;">
        </div>
        <div class="question-group" style="float:left;width:660px;margin-left:10px;">
            <p class="question-title" style="color:#259;font-weight:900;">
                {{ video.video_title }}
            </p>
            <p class="question-title" style="color:#259;font-weight:900;">
                {{ video.video_comment }}
            </p>
            <p class="question-title" style="color:#259;font-weight:900;">
                {{ video.video_url }}
            </p>
        </div>
        <div>
            <a href="{{ url_for('unstar',star_id = star_id, video_id = video.video_id) }}">取消收藏</a>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}