{% extends 'base.html' %}

{% block title %}我的作品{% endblock %}

{% block main %}
<a href="{{ url_for('my_video_make') }}">上传新作品</a>
<ul style="list-style:none;padding-left:0;">
    {% for video in videos %}
    <li style="border-bottom:1px solid #eee;overflow:hidden;padding:10px 0;">
        <div clas="avatar-group" style="width:38px;height:100%;float:left;">
            <img src="{{ url_for('static',filename='images/img2.jpg') }}" alt="" class="avatar"
                style="width:38px;height:38px;border-radius:50%;">
        </div>
        <div class="question-group" style="float:left;width:660px;margin-left:10px;">
            <p class="question-title" style="color:#259;font-weight:900;"><a
                    href="{{ url_for('detail',video_id=video.video_id) }}">{{ video.video_title }}</a></p>
            <p class="question-content">{{ video.video_comment }}</p>
            <div class="question-info" style="text-align:right;">
                <span class="question-author" style="margin-right:20px;">{{ video.video_author.user_name }}</span>
                <span class="question-time">{{ video.video_ctime }}</span>
            </div>
        </div>
        <div>
            <a href="{{ url_for('video_delete', video_id=video.video_id)}}">删除视频</a>
            <a href="{{ url_for('video_modify', video_id=video.video_id)}}">修改视频</a>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}