{% extends 'base.html' %}

{% block title %}播放视频{% endblock %}

{% block head %}{% endblock %}

{% block main %}
    <h3 class="page-title" style="text-align:center">{{ video.video_title }}</h3>
    <p class="question-info" style="text-align:center;margin-top:20px;">
        <span>作者:{{ video.video_author.user_name }}</span>
        <span>时间:{{ video.video_ctime }}</span>
    </p>
    <hr>
    <p class="question-content">{{ video.video_comment }}</p>
    <hr>

    <h4>点赞:</h4>
    <form action="{{ url_for('like_video') }}" method="post">
        <div class="form-group">
            <input type="hidden" name="video_id" value="{{ video.video_id }}">
        </div>
        <div class="form-group" style="text-align:right;">
            <button class="btn btn-primary">点赞</button>
        </div>
    </form>

    <h4>收藏:</h4>
    <form action="{{ url_for('star_video') }}" method="post">
        <div class="form-group">
            <select name="star_id">
                {% for star in stars %}
                <option value="{{star.star_id}}"> {{star.star_name}} </option>
                {% endfor %}
            </select>
            <input type="hidden" name="video_id" value="{{ video.video_id }}">
        </div>
        <div class="form-group" style="text-align:right;">
            <button class="btn btn-primary">收藏</button>
        </div>
    </form>

    <h4>评论(0):</h4>
    <form action="{{ url_for('add_review') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="请填写评论" name="review_text">
            <input type="hidden" name="video_id" value="{{ video.video_id }}">
        </div>
        <div class="form-group" style="text-align:right;">
            <button class="btn btn-primary">评论</button>
        </div>
    </form>
    <ul class="answer-list" style="padding-left:0;">
        {% for review in video.video_reviews %}
            <li style="list-style:none;border-bottom:1px solid #eee;padding-top:10px;">
                <div class="user-info" style="font-size:16px;color:#9b9b9b;line-height:40px;">
                    <img src="{{ url_for('static',filename='images/img2.jpg') }}" alt="" class="avatar"
                    style="width:40px;height:40px;border-radius:50%;">
                    <span class="username" style="margin-left:10px;">{{ review.review_author.user_name }}</span>
                    <span class="create-time" style="float:right;">{{ review.review_time }}</span>
                </div>
                <p class="answer-content" style="margin-left:50px;">{{ review.review_text }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

